input {
	border-radius: 50px;
	border:3px;
	padding-left:20px;
}
form {
	background-color: #fff;
	border-radius: 50px;
	color: black;
}
button {
	margin-bottom: 40px;
}

.jumbotron{
	background-color: lightgrey;
}
