<form class="" >

	<div class="form-group row">
		<label >Food</label><br>
		<div >
			<input placeholder="Enter the meal you just had" style="width:90%; height:40px" #addFoodName><br>
		</div>
	</div>

	<div class="form-group row">
		<label>Description</label><br>
		<div >
			<input placeholder="say somthing about the food" style="width:90%; height:40px" #newDescription><br>
		</div>
	</div>

	<div class="form-group row">
		<label>Calories</label><br>
		<div>
			<input placeholder="e.g 200" style="width:90%; height:40px" #newCalorie>
		</div>
	</div>
		<button class="btn btn-primary" style="margin-top:50px" (click)="addFood( addFoodName.value, newDescription.value, newCalorie.value);
		 addFoodName.value='';
		 newDescription.value='';
		 newCalorie.value='';
		">ADD
		</button>


</form>
